<!DOCTYPE html>
<html ng-app="test">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-cloak>
<div class="container" ng-controller="QuestionListCtrl">
    <h1 class="text-center">易企秀产品知识库快速查找系统</h1>
    <form class="form form-horizontal quick-search">
        <div class="form-group">
            <label>关键字</label>
            <input type="text" class="form-control" placeholder="点击输入框，或键入'/'，录入关键字" ng-model="keywords.title" bind-slash/>
        </div>
    </form>
    <div class="questions-container">
        <div class="question-answer" ng-repeat="question in questions | filter:keywords">
            <h2>{{question.title}}</h2>
            <div class="answers">
                <ul class="list-unstyled">
                    <li class="answer"
                        ng-class="{'active': answer.result}"
                        ng-repeat="answer in question.answer">
                        {{answer.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="completions-container">
        <div class="completions" ng-repeat="completion in completions | filter:keywords">
            <h2>{{completion.title}}</h2>
            <p ng-bind-html="completion.answer"></p>
        </div>
    </div>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="node_modules/mousetrap/mousetrap.js"></script>
<script src="js/questions.js"></script>
<script src="js/completions.js"></script>
<script src="js/app.js"></script>
</body>
</html>